*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
simple-knn/simple_knn.egg-info
tensorboard_3d
screenshots
.idea
venv
jerry_out
data/
*.mat
*.ply
*.npz
submodules/.
submodules/
*.h
*.cu
*.zip